<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ServletMain</display-name>
  
  <context-param>
  	<param-name>hobby</param-name>
  	<param-value>game</param-value>
  </context-param>
  <context-param>
  	<param-name>color</param-name>
  	<param-value>red</param-value>
  </context-param>
  <context-param>
  	<param-name>favoritessong</param-name>
  	<param-value>BadgirlGoodgirl</param-value>
  </context-param>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.basic.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SampleServlet</servlet-name>
    <servlet-class>com.basic.SampleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SampleServlet</servlet-name>
    <url-pattern>/SampleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Hello_get</servlet-name>
    <servlet-class>com.basic.Hello_get</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello_get</servlet-name>
    <url-pattern>/Hello_get</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Hello_post</servlet-name>
    <servlet-class>com.basic.Hello_post</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello_post</servlet-name>
    <url-pattern>/Hello_post</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Student</servlet-name>
    <servlet-class>com.ch03parameter.Student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student</servlet-name>
    <url-pattern>/Student</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TodayMenu</servlet-name>
    <servlet-class>com.ch03parameter.TodayMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TodayMenu</servlet-name>
    <url-pattern>/TodayMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletInitParamEx01</servlet-name>
    <servlet-class>com.ch04object.ServletInitParamEx01</servlet-class>
    <init-param>
      <param-name>id</param-name>
      <param-value>Hwany</param-value>
    </init-param>
    <init-param>
      <param-name>pw</param-name>
      <param-value>1q2w3e!!</param-value>
    </init-param>
    <init-param>
      <param-name>path</param-name>
      <param-value>C://CodeLab//workspace</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInitParamEx01</servlet-name>
    <url-pattern>/InitParamEx01</url-pattern>
  </servlet-mapping>
</web-app>